<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Mi nombre es Jhon Jairo Pabon Gamas, y soy un Ingeniero de Sistemas
      especializado en desarrollo de software con más de 5 años de experiencia
      en el campo.
    </p>
    <p>
      Mi experiencia se centra en el desarrollo de soluciones de software
      basadas en web, utilizando varios lenguajes de programación y herramientas
      como PHP, Java, JavaScript, .NET, SQL, HTML y CSS.
    </p>
    <p>
      A lo largo de mi carrera, he liderado equipos de desarrollo de software,
      asegurando el cumplimiento de las mejores prácticas de codificación,
      supervisando y guiando a programadores junior, brindando soporte y
      resolviendo bugs complejos. También he participado activamente en la
      elaboración de nuevos requisitos de software y programando nuevas
      funcionalidades para cumplir con esos requisitos.
    </p>
    <p>
      Me apasiona aprovechar la tecnología para resolver problemas del mundo
      real y prospero en entornos dinámicos y colaborativos donde puedo
      contribuir con mis habilidades para crear soluciones innovadoras.
    </p>
  </div>
  <img class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " src="../../public/me.webp" alt="" />
</article>
