---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Enero 2022 - Marzo 2024",
    title: "Ingeniero Lider de desarrollo de software",
    info: [
      {
        descripctionText:
          "Lideré un equipo de desarrollo de software, supervisando nuevos proyectos y asignando tareas al equipo.",
      },
      {
        descripctionText:
          "Revisé y garantice la calidad de los desarrollos en ambientes de desarrollo y QA.",
      },
      {
        descripctionText:
          "Solucioné bugs y problemas de software reportados en tickets por el área de soporte técnico",
      },
      {
        descripctionText:
          "Participé activamente en el diseño y modelado de la arquitectura de software (Bases de datos , modelo de negocio)",
      },
      {
        descripctionText:
          "Desarrollé microservicios utilizando tecnologías como Spring Java y ASP .NET Core para implementar funcionalidades especiales y mejorar la escalabilidad y el rendimiento del software.",
      },
    ],
    link:null,
  },
  {
    date: "Agosto 2022 - Diciembre 2022",
    title: "Desarrollador de software",
    info: [
      {
        descripctionText:
          "Co-lideré un equipo de tres ingenieros en el desarrollo del sistema SICCES para las Unidades Tecnológicas de Santander.",
      },
      {
        descripctionText:
          "Aplicando un enfoque full stack, me especialicé en la implementación de tecnologías clave como el Framework Laravel y Livewire de PHP.\
            Esto resultó en el desarrollo de una plataforma altamente eficiente diseñada para gestionar de manera efectiva los procesos de autoevaluación.",
      },
      {
        descripctionText:
          "Desempeñé un papel fundamental en el diseño de la arquitectura, utilizando el framework Tailwind CSS para asegurar un diseño moderno y adaptable.\
           Además, lideré la coordinación de tareas y plazos, garantizando una ejecución sin contratiempos y la entrega puntual del proyecto.",
      },
    ],
    link: null,
  },
  {
    date: "Noviembre 2019 - Diciembre 2021",
    title: "Desarrollador de software",
    info: [
      {
        descripctionText:
          "Desarrollé aplicaciones web full stack, empleando tecnologías esenciales como PHP, Java, HTML, CSS y JavaScript. Mi enfoque se centró en la creación de opciones\
           innovadoras para mejorar la funcionalidad y la experiencia del usuario en cada aplicación.",
      },
      {
        descripctionText:
          "Manejo de servicios web SOAP y API REST .Desarrollo y modelado con base de datos relacional, utilizando el motor PostgreSQL (SQL Nativo) \
          y con Laravel con el ORM ELOQUENT (Active Record) ",
      },
      {
        descripctionText:
          "Uso de Linux para la gestión de conexiones a Servidores mediante la terminal usando OpenSuse,CentOS y Ubuntu.",
      },
    ],
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4 text-pretty">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
